---
import { getEntry, render } from 'astro:content';

const page = await getEntry('pages', 'home');

if (!page) {
  throw new Error('Home page content not found');
}

const { Content } = await render(page);
---

<h1>{page.data.title}</h1>
<Content />