---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { getEntry } from 'astro:content';

const page = await getEntry('pages', 'home');
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={page.data.title} description="" />
  </head>
  <body>
    <Header />
    
    <main>
      <h1 class="fade-in">{page.data.title}</h1>
      <div class="fade-in" set:html={page.body} />
    </main>

    <Footer />

    <script>
      import { animate } from "motion"
      animate(".fade-in", { opacity: [0, 1], y: [20, 0] })
    </script>
  </body>
</html>